:root {
  --light: #fbdfda;
  --lightest: #f8eeec;
  --white: #ffffff;
  --red: #fe7b77;
  --purple: #7e74f8;
  --orange: #fea94f;
  --pink: #d38d8c;
  --green: #7bc133;
  --blue: #6691fa;
  --txt-dark: #0c0c18;
  --txt-darkest: #525060;
  --txt-light: #a4a2ab;

  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;

  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  --size-bezel: 0.5rem;
  --size-radius: 4px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  background: rgb(255, 233, 233);
  background: linear-gradient(
    0deg,
    rgba(255, 233, 233, 1) 12%,
    rgba(255, 250, 249, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: var(--txt-dark);
}

button {
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input {
  outline: none;
  word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
label {
  color: var(--txt-dark);
}

.material-icons {
  color: var(--txt-dark);
}

/* Buttons */

.btn {
  width: 75px;
  height: 35px;
  border-radius: 2rem;
  background-color: var(--red);
  margin-bottom: 1rem;
  color: var(--white);
  font-weight: bold;
  font-size: 1rem;
}
